* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
}