* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(255,255,255,0.6);
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 550px;
}